<section class="section section-contact" id="contact">
    <div class="container">
        <div class="section-head">
            <span>درود </span>
            <h2>ارتباط با من </h2>
        </div>

        <div class="section-inner">
            <div class="contact-Otherdetails ">
                <div class="contact-details">
                    <h5 class="section-subHead mb-4"> در تماس باشید</h5>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="contact-details--panel p-4 b-box text-center  ">
                                <div class="mb-3 list-icon list-icon-1">
                                    <i class="lni-mobile"></i>
                                </div>
                                <div class="mt-2">
                                    <p class="mt-2">تلفن</p>
                                    <a href="tel:+982144868610" class="">+98 21 44868610 ~ 14</a>
                                    <p>&nbsp</p>
                                    <p>&nbsp</p>
                                    <p>&nbsp</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="contact-details--panel p-4 b-box text-center  ">
                                <div class="mb-3 list-icon list-icon-5">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="mt-2">
                                    <p class="mt-2">ایمیل</p>
                                    <a class ="contact-details--panelemail" href="mailto:aemamzadeh2004@yahoo.com">AEMAMZADEH2004@YAHOO.COM</a>
                                    <p>&nbsp</p>
                                    <p>&nbsp</p>
                                    <p>&nbsp</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="contact-details--panel p-4 b-box text-center  ">
                                <div class="mb-3 list-icon list-icon-5">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="mt-2">
                                    <p class="mt-2">آدرس</p>
                                    <a href="https://goo.gl/maps/A7w5X1d6yMVXvuRz5">تهران، انتهای بزرگراه شهید ستاری، میدان دانشگاه، بلوار شهدای حصارک، دانشگاه آزاد اسلامی واحد علوم و تحقیقات، ساختمان ابن سینا، بلوک آ، طبقه ۳و۴</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form mt-5">
                    <form>
                        <h5 class="section-subHead mb-2">فرم تماس</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mt-3 ">
                                    <input name="name" id="name" type="text" class="form-control b-box" placeholder="*نام شما" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mt-3 ">
                                    <input name="email" id="email" type="email" class="form-control b-box" placeholder="*ایمیل" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-3 ">
                                    <input type="text" class="form-control b-box" id="subject" placeholder="...موضوع" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group mt-3 ">
                                    <textarea name="comments" id="comments" rows="4" class="form-control b-box" placeholder="...پیام"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center mt-4">
                                <a href="#" class="btn ">ارسال</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>