<section class="section section-dark section-services" id="services">
    <div class="container">
        <div class="section-head">
            <span>آموزش ها</span>
            <h2>دوره های آموزشی تدریس شده</h2>
        </div>

        <div class="section-inner">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="services-list mt-5 ">
                        <div class="list-icon list-icon-6">
                            <i class="lni-bar-chart"></i>
                        </div>
                        <div class="mt-4 pt-2">
                            <h5 class="mb-0">محاسبات عددی</h5>
                            <p class=" mt-3">محاسبات عددی به تنظیم، مطالعه، و اعمال شیوه‌های تقریبی محاسباتی برای حلّ آن دسته از مسائل ریاضیات پیوسته (در مقابل ریاضیات گسسته) می‌پردازد که با روش‌های تحلیلی و دقیق قابل حلّ نیستند. با پیشرفت رایانه‌ها نیاز به حل مسایل ریاضی به روش عددی بیش از پیش احساس شد. در این هنگام کارایی روش‌هایی که از قبل توسط نیوتون و لئونارد اویلر ارائه شده بود نمایان شد.الگوریتم‌های مربوط به محاسبات عددی در حل بسیاری از مسائل موجود در علوم و مهندسی نظیر تحلیل و طراحی سازه‌هایی همچون پل‌ها، سدها، و هواپیماها، علوم هواشناسی مثلاً پیش‌بینی آب و هوا، و تهیه نقشه‌های جوی از زمین، تجزیه و تحلیل ساختار مولکول‌ها، پیدا کردن مخازن، مدل سازی چند مقیاسی ریه با روش‌های محاسباتی و بررسی عملکرد ریه و عوامل مؤثر بر آسم و ...  مورد استفاده قرار می‌گیرد.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="services-list mt-5 ">
                        <div class="list-icon list-icon-6">
                            <i class="lni-bar-chart"></i>
                        </div>
                        <div class="mt-4 pt-2">
                            <h5 class="mb-0">ریاضیات مهندسی پیشرفته</h5>
                            <p class=" mt-3">ریاضیات مهندسی (انگلیسی: Engineering mathematics‎) شاخه‌ای از ریاضیات کاربردی در مورد روش‌ها و تکنیک‌های ریاضی است، که اغلب در حوزه‌های مهندسی و صنعت مورد استفاده قرار می‌گیرد. ریاضیات مهندسی یک شاخه میان‌رشته‌ای است، که نیازهای مهندسین را در مباحث عملی، نظری و کاربردی (مانند فیزیک مهندسی و زمین‌شناسی مهندسی و غیره) پوشش می‌دهد.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>